{% extends 'userhome.html'%}
{%load static%}
{%block carousel%}
<br>
<div class="col-md-12 p-5 mt-lg-5">
     <span>Welcome:{{sunm}}</span>
     <div class="col-md-12 p-5 mt-lg-5">
          <h3 class="display-8 animated fadeIn mb-4">Transaction successfully completed.....</h3>
          <h3 class="display-8 animated fadeIn mb-4">Your order will be Placed in 7 to 8 days..</h3>

          <img class="mx-auto d-block" src="{%static 'img/success.gif'%}" alt="">
     </div>
     {%endblock carousel%}
     {%block category%}
     {%endblock category%}
     {%block about%}
     {%endblock about%}
     {%block property%}
     {%endblock property%}
     {%block contact%}
     {%endblock contact%}
     {%block team%}
     {%endblock team%}
     {%block testimonial%}
     {%endblock testimonial%}
     {%block footer%}
     {%endblock footer%}