{% extends 'master_template.html' %} {%block nav%}
<div class="collapse navbar-collapse" id="navbarCollapse">
  <div class="navbar-nav ms-auto">
    <a href="/" class="nav-item nav-link active">Home</a>
    <a href="/About/" class="nav-item nav-link">About</a>
    <a href="/Services/" class="nav-item nav-link" >Services</a>
    <a href="/Register/" class="nav-item nav-link">Register</a>
    <a href="/Contact/" class="nav-item nav-link">Contact</a>
  </div>
  <a href="/Login/" class="btn btn-primary px-3 d-none d-lg-flex">Login</a>
</div>
{%endblock nav%}
